# Node
node_modules/
npm-debug.log
package-lock.json

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Environment
.env

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
