<div class="container">

  <h2>Product Inventory</h2>

  <button (click)="goToCreate()">
    Create Product
  </button>

  <hr>


  <!-- LOADING -->
  <div *ngIf="loading">
    Loading products...
  </div>


  <!-- ERROR -->
  <div *ngIf="error">
    {{ error }}
  </div>


  <!-- TABLE -->
  <table *ngIf="!loading && products.length > 0"
         border="1"
         cellpadding="10">

    <thead>

      <tr>

        <th>Name</th>

        <th>Description</th>

        <th>Price</th>

        <th>Quantity</th>

        <th>Category</th>

        <th>Actions</th>

      </tr>

    </thead>


    <tbody>

      <tr *ngFor="let product of products">

        <td>{{ product.name }}</td>

        <td>{{ product.description }}</td>

        <td>{{ product.price }}</td>

        <td>{{ product.quantity }}</td>

        <td>{{ product.category }}</td>

        <td>

            <button (click)="editProduct(product._id!)">Edit</button>

          <button (click)="deleteProduct(product._id!)">
            Delete
          </button>

        </td>

      </tr>

    </tbody>

  </table>


  <!-- NO DATA -->
  <div *ngIf="!loading && products.length === 0">

    No products found.

  </div>


</div>
